@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.caption {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.caption-overlay {
  position: absolute;
  color: cornsilk;
  text-align: justify;
  transform: translateY(320%);
  transition: transform 1.25s ease-in-out;
  padding: 0 12.5%;
}

.caption:hover .caption-overlay {
  transform: translatey(0);
}

img {
  width: 80%;
}

button {
  padding: 1em;
  margin: .2em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
}

button:hover {
  background-color: cornflowerblue;
}
